/* @tailwind base;
@tailwind components;
@tailwind utilities; */
#overlay-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#overlay-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-grow {
    width: 1.5rem;
    height: 1.5rem;
}

.hover {
    cursor: pointer;
}

.ql-editor {
    white-space: normal !important;
}

/* Keyframes for the animation */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake-highlight {
    animation: shake 0.5s ease-in-out;
}

.avatar-reply {
    height: 43.2px;
    width: 43.2px;
    display: block;
    margin-right: 15px;
    padding-right: 0px !important;
}

/* Autocomplete Search Bar */
.autocomplete-search {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.autocomplete-suggestions {
    position: absolute;
    z-index: 1000;
    top: calc(100% + 2px);
    left: 2px;
    /* Adjust the left position */
    right: 0px;
    /* Add right position */
    background-color: #111111;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    border-top: 0px;
}

.autocomplete-suggestions .suggestion {
    padding: 8px 12px;
    cursor: pointer;
    color: white;
}

.autocomplete-suggestions .suggestion:hover {
    background-color: #333333;
}

/* END Autocomplete Search Bar */

/* Hide ad container if no ad is present */
ins.adsbygoogle[data-ad-status='unfilled'] {
    display: none !important;
}

.row.text-center.pt-4 {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}